<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SendMail</title>
</head>
<body>
    <div class="container">
        <h1>Отправка сообщений</h1>
        <form action="{% url 'send_mail'%}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                <label for="exampleInputEmail1">{{field.label}}</label>
                {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    
</body>
</html>